@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  
  background-color: #f8f9fb;
  color: #222;
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  max-width:1170px;
  background-color: #ccc;
  margin:0 auto;
}
